.extras__datos-extras{
    background-color: $azul;
}

.extras__cont-aprendizaje ul{
    display: flex;
    flex-direction: column;
	margin: 2rem 0 0 1rem;
	flex-wrap: wrap;
	height: 9rem;
}

.extras__cont-aprendizaje li{
	padding: 2px;
	width: max-content;
}

.raya{
	text-decoration: line-through;
}

.extras__datos-extras .cont{
	background-color: transparent;
}