.header__header{
	height: $header-height;
	background-color: $contColor;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	width: 100%;
	padding:0 0.5rem;
	z-index: 13;
	.header__activo a{
		color:$naranja;	
	}
}

.header__header li{
	font-size: 16px;
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	flex-direction: column;
	height: max-content;
}

.header__header li a{
	color: #fff;
}


.cont-menu{
	display: contents;
}

.btn-menu{
	display: none;
}

.sombra{
	position: fixed;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000000a6;
	display: none;
}

.menu-activo{
	right: 0 !important;
}

.btn-cv{
	background-color: $naranja;
	padding: 1rem 0;
	border-radius: 4px;
	opacity: .8;
	transition: opacity 0.2s ease-out;
	color:white;
	&:hover{
		opacity: 1;
	}
}