.proyectos__cont-proyectos{
	margin-top: 2rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
    .cont{
        background-color: transparent;
    }
}

.proyectos__cont-card{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 1rem;
	grid-row-gap: 1.5rem;
	grid-column-gap: 0.7rem;
}

.article-body{
	padding-top: 1rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

article{
	background-color: white;
	overflow: hidden;
	border-radius: 0.2rem;
	box-shadow: 0 0 0.2rem black;
	display: flex;
	flex-direction: column;
    img{
        width: 100%;
    }
    h3{
        font-weight: 600;
        padding:0 1rem 0 1rem;
    }
    p{
        margin: 0.7rem 0;
        font-weight: 300;
        padding:0 1rem 0 1rem;
    }
}

.cont-icons{
	display: flex;
	justify-content: space-around;
	background: #0095d238;
	padding: 0.5rem 0;
    i{
        font-size: 3rem;
    }
}

.btn-mas{
	display: block;
   	margin:1rem auto;
    width: 200px;
	padding: 13px 16px;
	color: #fff;
    background: $naranja;
	text-align: center;
    border-radius: 4px;
    border: none;
	cursor: pointer;
	font-size: inherit;
	opacity: .8;
	transition: opacity 0.2s ease-out;
	&:disabled{
		opacity: .5;
		cursor: default;
	}
	&:hover:enabled{
		opacity: 1;
	}
}

.proyectos__cont-prin-app{
	margin: 2rem 0;
	display: flex;
	width: 100%;

	.cont-app-img{
		width: 34rem;
		display: flex;
		img{
			width: 50%;
			padding-left: 0.5rem;
		}
		#img-ter{
			display: none;
		}
	}
	.cont-info{
		margin-left: 1rem;
		flex:1;
		ul{
			margin: 0.5rem 0 1rem 1rem;
			li{
				margin:0.5rem 0;
			}
		}
	}

	.cont-tec{
		display: flex;
		margin: 1rem 0;
		li{
			list-style: none;
			margin: 0 1rem;
		}

		svg{
			width: 2rem;
			height: 2rem;
		}
		i{
			font-size: 2rem;
		}
	}

	.boton{
		margin-left: 0;
	}
}