.sobreMi__sec-top {
    height: max-content;
    background-color: $azul;
    padding: 3rem 2rem 2rem 0;
}

.sobreMi__cont-texto {
    width: 55%;

    h2 {
        font-size: 2.6rem;
        color: #ffffff;
        position: relative;
        margin-top: 0;
        font-weight: 700;
    }
}

.sobreMi__cont-info {
    background-color: #adcbd747;
    width: 35rem;
    padding: 1rem;
    height: max-content;

    .imagen {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin-left: 1rem;
    }

    .encabezado {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .cont-texto-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .cuerpo p {
        font-size: 20px;
    }
}

.typed {
    font-size: 4rem;
    font-weight: 700;
}

.cont-conoc {
    display: flex;
    height: max-content;
    width: 70%;
    margin: 2rem auto -28rem auto;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px gray;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 45px;

        i {
            font-size: 4.5rem;
            color: #3ba4d4;
        }

        h3 {
            margin-top: 1em;
            margin-bottom: 1.5rem;
            font-weight: 800;
            color: #141c3a;
        }

        p {
            color: #141c3a;
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 2em;
        }

        h5 {
            color: #e08709;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 10px;
        }

        >div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            column-gap: 20px;
            justify-content: space-between;
        }

        img {
            width: 4rem;
        }
    }

    li {
        list-style: none;
        padding: 0.5rem;
        border-radius: 2px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 22px;

        i {
            font-size: 4rem;
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.icons {
    display: none;
}